body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: grid;
  grid-template-rows: 70px auto;
}

ul,
li {
  list-style-type: none;
}

.App__header {
  background: #4183c4;
  color: white;
  font-weight: 100;
  margin: 0;
  text-align: left;
}

.App__header a {
  margin-left: 45px;
  line-height: 30px;
  font-size: 36px;
  text-decoration: none;
  color: white;
}

.Posts__controls {
  padding: 16px 0 16px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.Posts__new {
  margin-left: 70px;
  margin-top: 16px;
  text-align: left;
}

.Posts__controls li {
  display: inline;
  margin-left: 15px;
}

.Posts__categories {
  text-align: center;
}

.Posts__filter {
  text-align: right;
  margin-right: 70px;
}

.Post__wrapper,
.PostPage__wrapper {
  padding: 40px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.Post__header {
  display: grid;
  grid-template-columns: 90px auto;
}

.Post__header a {
  text-decoration: none;
}

.Post__info {
  margin: 15px 0 0 50px;
  color: rgba(0, 0, 0, 0.56);
}

.Post__info li {
  display: inline;
}

.Post__vote {
  font-size: 22px;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
}

.Post__score {
  margin: 2px;
}

.Post__upvote,
.Post__downvote {
  color: rgba(0, 0, 0, 0.36);
  cursor: pointer;
}

.Post__downvote {
  transform: rotate(0.5turn);
  text-align: right;
}

.Post__title {
  font-size: 29px;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
}

.Post__body {
  display: grid;
  grid-template-columns: 90px auto;
  margin-top: 40px;
}
